@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: #f2f7f5;
    padding: 1.5rem 1rem;
    margin-top: 1rem;

    &__header {
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        
        @include tablet {
            margin-bottom: 0.5rem
        }
    }

    &__heading {
        @include m-h1;
        color: #00473e;

        @include tablet{
            @include dt-h1;
        }
    }

    &__social {}

    &__social-wrapper {}

    &__social-link {}

    &__social-img {
        height: 3rem;
        width: 3rem;

        @include tablet {
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    &__logout-wrapper{}

    &__logout-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        padding: 0 1rem;
        border-radius: 1.25rem;
        width: 100%;
        background-color: #faae2b;
        color: #00473e;
        border: solid 1px #00332c;
        &:hover {
            border: solid 1px #00473e;
        }

        @include m-h3;
        @include tablet{
            @include dt-h3;
        }
    }

    &__details {
        
    }

    &__name-section {
        margin-bottom: 1rem;
    }

    &__name {
        color: #475d5b;
        @include m-p1;
        font-weight: 700;

        @include tablet{
            @include dt-p1;
        }
    }

    &__contact-section {
        margin-top: 1rem;
    }

    &__contact {
        color: #475d5b;;
        @include m-p1;

        @include tablet{
            @include dt-p1;
        }
    }

    &__copy-section {
        margin-top: 0.5rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__copy-logo {
        height: 7.8125rem;
        width: 7.8125rem;
    }

    &__copy-message {
        color: #475d5b;;
        @include m-p3;

        @include tablet{
            @include dt-p3;
        }
    }

    &__body{
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
}