// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$primaryDark: #2e3133; 
$primaryLight: #a7d9c9; 
$primaryWhite: #ffffff;


//secondary colors
$secondaryDark: #6e7b87;
$secondaryLight: #d7e2ea;

//background colors
$backgroundDark: #445a67;
$backgroundLight: #f6f7fb;

//support colors
$green: #158463;
$red: #c94515;

