@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.giftee-deets{
    margin: -4rem 1rem 0.3125rem 1rem;
    background-color: $primaryWhite;
    box-shadow: 0px 0.125rem 0.3125rem rgb(19 24 44 / 10%);
    top: 0;
    border-radius: 3px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $secondaryLight;
        padding: 2rem 1.5rem 1.5rem 1.5rem ;

    }

    &__header-section{
        display: flex;
    }

    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        @include m-h1;
        margin-left: .75rem;
        color: $primaryDark;
    }

    &__edit{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: $primaryLight;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__edit-icon{
        width: 1.25rem;
        height: 1.25rem;

    }

    &__header-btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        min-width: 5.2044rem;
    }
}

.details{
    padding: 0rem 1.5rem 0rem 1.5rem ;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondaryLight;


    &__side{
        width: 50%;
    }

    &__section{
        margin-bottom: 1rem

    }

    &__subheader{
        @include m-h4;
        margin-bottom: .25rem;
    }

    &__info{
        @include m-p2
    }

    &__request-btn{
        @include m-h3;
        text-align: center;
        height: 2.25rem;
        padding: .5rem 1rem .5rem 1rem;
        border-radius: 1.25rem;
        border: none;
        background-color: $primaryLight;
        color: $primaryWhite;
    }
}

.gifts{

}