@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

#about-btn{
    margin-bottom: 4.125rem;
}

.header {
    display: flex;
    background-color: $backgroundDark;
    justify-content: space-between;
    z-index: 1;
    padding: 0rem 2rem;

    @include tablet {
        @include dt-h1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @include desktop {
        padding-left: 5.625rem;
        padding-right: 5.625rem;
    }

    &__logo-wrapper{
        align-self: flex-start;
    }

    &__logo{
        
        height: 7.0313rem;
        width: 7.0313rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;

        @include tablet {
        }
    }

    &__nav-item--active {
        width: 8.125rem;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: none;
        background-color: $primaryDark;
        color: $primaryWhite;
        padding-inline: 2rem;

        &:hover {
            background-color: $primaryDark;
            color: $primaryWhite;
        }
    }

    &__nav-item--inactive {
        background-color: $secondaryDark;
        color: $secondaryLight;
        width: 8.125rem;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: none;
        padding-inline: 2rem;

        &:hover {
            background-color: $primaryDark;
            color: $primaryWhite;
        }
    }
}