@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.profile{
    // padding-block: 1rem;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid $secondaryLight;


    &__side{
        margin-left: 1.5rem;
        width: 50%;
    }

    &__section{
        margin-block: 1rem;
    }

    &__table-heading{
        @include m-h4;
    }

    &__info-section{
        display: flex;
    }

    &__name{
        @include m-h3;
        color: $primaryLight;
    }

    &__info{
        @include m-p2;
    }

    &__delete{

    }

    &__edit{
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5rem;
    }
    
    &__order-status{

    }
    
}