@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about {
    margin: -4rem 1rem 0.3125rem 1rem;
    background-color: #fffffe;
    box-shadow: 0px 0.125rem 0.3125rem rgb(19 24 44 / 10%);
    top: 0;
    border-radius: 3px;

    &__header {}

    &__header-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #d7e2ea;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }

    &__heading {
        @include m-h1;
        margin-left: .75rem;
        color: #00473e;

        @include tablet{
            @include dt-h1;
        }
    }
}

.hero {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #d7e2ea;


    &__heading-wrapper {
        margin-inline: 1.5rem;
    }

    &__heading {
        @include m-h2;
        margin-bottom: .25rem;
        text-align: center;
        color: #00473e;


        @include tablet{
            @include dt-h2;
        }
    }

    &__subheading-wrapper {
        margin-inline: 1.5rem;
    }

    &__subheading {
        @include m-p2;
        margin-bottom: .25rem;
        text-align: center;
        color: #475d5b;


        @include tablet{
            @include dt-p2;
        }
    }

    &__login-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #f2f7f5;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 0px 0px 3px 3px;
        padding-inline: 1rem;
    }

    &__signup-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        padding: 0 1rem;
        border-radius: 1.25rem;
        text-decoration: none;
        width: 100%;
        @include m-h3;
        background-color:  #ffa8ba;
        border: solid 1px #00332c;
        color: #00473e;
        
        @include tablet{
            @include dt-h3;
        }

        &:hover {
            border: solid #00473e 1px;
        }
    }

    &__login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        padding: 0 1rem;
        border-radius: 1.25rem;
        text-decoration: none;
        width: 100%;
        @include m-h3;
        background-color: #faae2b;
        color: #00473e;
        border: solid 1px #00332c;
        @include tablet{
            @include dt-h3;
        }

        &:hover {
            border: solid 1px #00473e;
        }
    }

    &__img-wrapper {
        margin: .75rem 0 .75rem 0;
        display: flex;
        justify-content: center;

    }

    &__img {
        flex-grow: 1;
        margin-inline: 2rem;
    }
}

.hiw {
    display: flex;
    flex-direction: column;

    &__heading-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #d7e2ea;
        padding: 2rem 1.5rem 1.25rem 1.5rem;
    }

    &__heading {
        @include m-h2;
        color: #00473e;
        
        @include tablet{
            @include dt-h2;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #d7e2ea;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    &__img {
        align-self: center;
        margin-bottom: 1rem;
        max-width: calc(100vw - 5rem);
        border-radius: .5rem;
        box-shadow: 0px 0.125rem 0.3125rem rgb(19 24 44 / 10%);
    }

    &__subheader {
        @include m-h2;
        color: #00473e;
        margin-bottom: 0.75rem;

        @include tablet{
            @include dt-h2;
        }
    }

    &__info {
        @include m-p2;
        color: #475d5b;


        @include tablet{
            @include dt-p2;
        }
    }
}