@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.sign-up {
    margin: -4rem 1rem 0.3125rem 1rem;
    background-color: #fffffe;
    box-shadow: 0rem 0.125rem 0.3125rem rgb(19 24 44 / 10%);
    top: 0;
    border-radius: 3px;

    &__header {}

    &__header-wrapper {
        display: flex;
        align-items: center;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        border-bottom: 1px solid #d7e2ea;
    }

    &__heading {
        @include m-h1;
        margin-left: .75rem;
        color: #00473e;

        @include tablet{
            @include dt-h1;
        }
    }
}

.sign-up-details {
    &__wrapper {
        padding: 0rem 1.5rem 1rem 1.5rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #d7e2ea;
    }

    &__heading {
        @include m-h4;
        margin-bottom: .25rem;
        color: #00473e;

        @include tablet{
            @include dt-h3;
        }
    }

    &__label {
        margin-top: 1rem;
        @include m-h4;
        margin-bottom: .25rem;
        color: #00473e;

        @include tablet{
            @include dt-h4;
        }
    }

    &__input {
        height: 2.25rem;
        border: 1px solid #475d5b;
        border-radius: 1.25rem;
        padding-left: 1rem;
        
        @include tablet{
            height: 2.375rem;
            max-width: 50vw;
        }
    }

    &__error-wrapper {
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__error-img {
        height: .8125rem;
        width: .8125rem;
    }

    &__error--text {
        @include m-p3;
        font-weight: 100;
        color: #C94515;
        @include tablet{
            @include dt-p3;
        }
    }

    &__btn-container {
        padding: 1.5rem 0.25rem;
        background-color: #f2f7f5;
        display: flex;
        justify-content: space-evenly;
        gap: 0.5rem;
        border-radius: 0px 0px 3px 3px;
    }

    &__btn-wrapper {

        &--cancel {
            @extend .sign-up-details__btn-wrapper;
        }

        &--submit {
            @extend .sign-up-details__btn-wrapper;
        }
    }

    &__btn {
        height: 2.25rem;
        padding: 0 1rem;
        border-radius: 1.25rem;
        text-decoration: none;
        width: 100%;
        @include m-h3;

        @include tablet{
            @include dt-h3;
        }

        &--cancel {
            @extend .sign-up-details__btn;
            background-color:  #ffa8ba;
            border: solid 1px #00332c;
            color: #00473e;

            &:hover {
                border: solid #00473e 1px;
            }
        }

        &--submit {
            @extend .sign-up-details__btn;
            background-color: #faae2b;
            color: #00473e;
            border: solid 1px #00332c;

            &:hover {
                border: solid 1px #00473e;
            }
        }

    }
}