@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.single-gift{

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        border-bottom: 1px solid $secondaryLight;
    }

    &__details-top{
        margin-bottom: 1rem;
    }

    &__name{
        @include m-h3;

    }

    &__desc{
        @include m-h4;
        // font-size: .875rem;
    }

    &__desc-deets{
        @include m-p2;
    }

    &__sides-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__side{
        width: 50%

    }

    &__details-section{

    }

    &__heading{
        margin-top: 1rem;
        @include m-h4;
        margin-bottom: .25rem;
    }

    &__info{
        @include m-p2;
        &--link{
            @extend .single-gift__info;
        }
    }

    &__info-section{

    }

    &__delete{
        margin-block: 1rem;
    }

    &__edit{
        margin-block: 1rem;
        display: flex;
        justify-content: flex-end;
    }

}