@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.multi-gift{

    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        border-bottom: 1px solid $secondaryLight;


    }

    &__side{
        width: 50%;
    }

    &__detail-section{
        margin-bottom: 1rem
    }

    &__heading{
        @include m-h4;
        margin-bottom: .25rem

    }

    &__info{
        @include m-p2;
        color: $primaryDark;
    }

    &__info-link{
        color: $primaryLight;
    }

    &__edit{
        display: flex;
        justify-content: flex-end;
    }

    &__info-section{

    }

    &__gift-status{

    }
}