@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.multi-gift {

    &__wrapper {
        background-color: #fffffe;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        border-bottom: 1px solid #d7e2ea;
    }

    &__side {
        width: 50%;
    }

    &__detail-section {
        margin-bottom: 1rem
    }

    &__heading {
        @include m-h4;
        margin-bottom: .25rem;
        color: #00473e;
        
        @include tablet{
            @include dt-h4;
        }
    }

    &__info {
        @include m-p2;
        color: #00473e;

        @include tablet{
            @include dt-p2;
        }
    }

    &__info-link {
        color: #d8779a;
    }

    &__edit {
        display: flex;
        justify-content: flex-end;
    }

    &__info-section {}

    &__gift-status {}
}